@model IEnumerable<WeCrab.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmy</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        Lista filmów
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        
        <tr>
            <td>
                @Html.ActionLink(movie.Name, "Details", "Movie", new {mId = movie.Id}, null)
            </td>
        </tr>
    }
    </tbody>
</table>